{% extends "adminlayout.html" %}
{% block body %}
  <div class="row" style="text-align:center; margin-top:100px"><h3><b>Updating Hotel Details</b></h3></div>
  <div class="row">
    <div class="col-md-4" style="transform:translate(100%,5%);">
      <div class="card card-body">
        <form action="/hotelsupdate/{{hotel.idAccomodation}}" method="POST">
          <div class="form-group">
            <label>Hotel City:</label>
            <input type="text" name="city" value="{{hotel.accCity}}" placeholder="City..." class="form-control" required>
          </div>
          <div class="form-group">
            <label>Hotel Address:</label>
            <input type="text" name="address" value="{{hotel.address}}" placeholder="Address..." class="form-control" required>
          </div>
          <div class="form-group">
            <label>Hotel Features:</label>
            <input type="text" name="features" value="{{hotel.accFeatures}}" placeholder="Features..." class="form-control" required>
          </div>
          <div class="form-group">
            <label>Hotel Fare:</label>
            <input type="text" name="fare" value="{{hotel.accFare}}" placeholder="Fare..." class="form-control" required>
          </div>
          <div class="form-group">
            <label>Roomtype:</label>
            <input type="text" name="roomtype" value="{{hotel.roomtype}}" placeholder="Roomtype..." class="form-control" required>
          </div>
          <div class="form-group">
            <label>Smoking:</label>
            <input type="text" name="smoking" value="{{hotel.smoking}}" placeholder="Smoking..." class="form-control" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Update Details</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}